/*reset e base*/
/* zerando as configurações*/
* {
 /* maximo da tela */
   box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /*faz transição*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
transition: all 0.3s ease;
  
}
